.home{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.homeContainer{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    animation: fade 1s ease-in-out ;

}
.description{
    width: 50%;
}
.illustration{
    width: 40%;
    animation: balanco 1s ease-in-out infinite alternate;
}
.homeContainer h4{
color: white;
margin: 0;
font-family: Open Sans;
font-weight: 800;
line-height: 110%;
font-size: 20px;


}
.homeContainer h2{
    color: #FFF;
    margin: 0;
font-family: Andada Pro;
font-size: 64px;
    color: white;
}
.homeContainer p{
    color: #FFF;
font-family: Archivo;
font-size: 24px;
font-style: normal;
font-weight: 500;
margin: 10px 0 30px 0;
line-height: 150%; /* 36px */
}
.buttons{
    width: 100%;
    gap: 32px;
    display: flex;
}
.Watch{
    display: flex;
padding: 14px 32px;
justify-content: center;
align-items: center;
gap: 8px;
border: 0;
border-radius: 4px;
background: #F1A5B1;

color: #0B0A0A;
text-align: center;
font-family: Roboto;
font-size: 18px;

font-weight: 700;
line-height: normal;
}
.trailer{
    display: flex;
height: 52px;
padding: 14px 32px;
justify-content: center;
align-items: center;
background-color: transparent;
gap: 8px;
border-radius: 4px;
border: 2px solid #F1A5B1;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
@media (max-Width: 1700px) {
    .homeContainer h4{
        font-size: 20px;
    }
    .homeContainer h2{
        font-size: 60px;
    }
    .homeContainer p{
        font-size: 22px;
    }
    .Watch{
        font-size: 16px;
    }
}
@media (max-Width: 1600px) {

    .Watch{
        font-size: 14px;
    }
    .play{
        width: 20px;
    }
}
@media (max-Width: 1500px) {

    .trailer{
        font-size: 14px;
    }
    .play{
        width: 20px;
    }
    .homeContainer h4{
        font-size: 18px;
    }
    .homeContainer h2{
        font-size: 56px;
    }
    .homeContainer p{
        font-size: 20px;
    }
    .illustration img{
        width: 500px;
    }
}
@media (max-Width: 1500px) {

    .trailer{
        font-size: 12px;
    }
    .play{
        width: 16px;
    }
    .Watch{
        font-size: 12px;
    }

}
@media (max-Width: 1300px) {
    .homeContainer h4{
        font-size: 16px;
    }
    .homeContainer h2{
        font-size: 52px;
    }
    .homeContainer p{
        font-size: 18px;
    }
    .illustration img{
        width: 500px;
    }

}
@media (max-Width: 1200px) {
    .homeContainer h4{
        font-size: 16px;
    }
    .homeContainer h2{
        font-size: 50px;
    }
    .homeContainer p{
        font-size: 18px;
    }
    .illustration img{
        width: 450px;
    }
    .homeContainer{
        width: 70%;
    }
}
@media (max-Width: 1050px) {
    .homeContainer h4{
        font-size: 14px;
    }
    .homeContainer h2{
        font-size: 46px;
    }
    .homeContainer p{
        font-size: 16px;
    }
    .illustration img{
        width: 420px;
    }
    .homeContainer{
        width: 70%;
    }

}
@media (max-Width: 1000px) {
    .homeContainer h4{
        font-size: 14px;
    }
    .homeContainer h2{
        font-size: 46px;
    }
    .homeContainer p{
        font-size: 16px;
    }
    .illustration img{
        width: 390px;
    }
    .homeContainer{
        width: 80%;
    }

}
@media (max-Width: 930px) {

    .illustration img{
        width: 375px;
    }
  

}
@media (max-Width: 900px) {

    .homeContainer{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    

    
    .buttons{
        flex-direction: column;
    }
    .description{
        width: 70%;
    }
    .illustration{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
  

}
@media (max-Width: 440px) {
    .description{
        width: 90%;
    }
    .illustration{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
  

}
@media (max-Width: 400px) {


    .illustration img{
        width: 330px;
    }
  

}
@media (max-Width: 360px) {


    .homeContainer h4{
        font-size: 14px;
    }
    .homeContainer h2{
        font-size: 40px;
    }
    .homeContainer p{
        font-size: 12px;
    }
    .illustration img{
        width: 300px;
    }
    


}
@media (max-Height: 800px) {
    
    .homeContainer h4{
        font-size: 12px;
    }
    .homeContainer h2{
        font-size: 36px;
    }
    .homeContainer p{
        font-size: 11px;
    }
    .illustration img{
        width: 250px;
    }
}
@media (max-Height: 700px) {
    
    .homeContainer h4{
        font-size: 10px;
    }
    .homeContainer h2{
        font-size: 30px;
    }
    .homeContainer p{
        font-size: 11px;
    }
    .illustration img{
        width: 220px;
    }
    .buttons{
        gap: 10px;
    }
}

@keyframes fade {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }
}
@keyframes balanco {
    0%{
        transform: translateY(14px);
    }
    100%{
        transform: translateY(-15px);

    }
}